html{
    box-sizing: border-box;
    background-color: lightyellow;
    background-image:url("weather.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align:center;
    color: darkblue;
    border: 2px solid purple;
    border-radius:10px;
    margin-left:150px;
    margin-right:150px;
}
ul{
    font-size:23px;
    font-weight:bold;
    padding-top:40px;
}
input{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.55); 
    font-size:18px;
}
form{
    text-align: center;
    
}
label{
    font-size:22px;
    font-weight:bold;
}